<h4>Register Vehicle</h4>

<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="code_number" type="text" class="validate">
          <label for="code_number">Code Number</label>
        </div>
        <div class="input-field col s6">
          <input id="unit_number" type="text" class="validate">
          <label for="unit_number">Unit Number</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="make" type="text" class="validate">
          <label for="make">Vehicle Make</label>
        </div>
        <div class="input-field col s6">
          <input id="colour" type="text" class="validate">
          <label for="colour">Vehicle Colour</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="license_number" type="text" class="validate">
          <label for="license_number">License Number</label>
        </div>
        <div class="input-field col s6">
          <input id="number_of_nights" type="text" class="validate">
          <label for="number_of_nights">Number of Nights</label>
        </div>
      </div>
      <div class="row">
        <a class="waves-effect waves-light btn"><i class="material-icons right">directions_car</i>Register</a>
      </div>
    </form>
  </div>
