<h4>Register Vehicle</h4>
<div class="row">
    <%= form_with scope: :parking, url: "/parking", class: "col s12", id: "parking-form", local: true do |form| %>
      <div class="row">
        <div class="input-field col s6">
          <input name="parking[code]" id="parking[code]" type="text" class="validate">
          <label for="parking[code]">Code Number</label>
        </div>
        <div class="input-field col s6">
          <input name="parking[unit]" id="parking[unit]" type="text" class="validate">
          <label for="parking[unit]">Unit Number</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input name="parking[make]" id="parking[make]" type="text" class="validate">
          <label for="parking[make]">Vehicle Make</label>
        </div>
        <div class="input-field col s6">
          <input name="parking[color]" id="parking[color]" type="text" class="validate">
          <label for="parking[color]">Vehicle Colour</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input name="parking[license]" id="parking[license]" type="text" class="validate">
          <label for="parking[license]">License Plate</label>
        </div>
        <div class="input-field col s6">
          <input name="parking[nights]" id="parking[nights]" type="text" class="validate">
          <label for="parking[nights]">Number of Nights</label>
        </div>
      </div>
      <div class="row">
        <button id="parking-button" class="waves-effect waves-light btn"><i class="material-icons right">directions_car</i>Register</button>
      </div>
    <% end %>
  </div>
