<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Arrow Lofts Visitor Parking Registration</h1>
    <p>
      A visitor has registered to park at Arrow Lofts.
    </p>
    <table border=0>
      <tr>
        <td>Code</td><td><%= @parking.code %></td>
      </tr>
    </table>
    <p>All the best!</p>
    <p>Arrow Lofts Parking Robot</p>
  </body>
</html>
